<p>Add Card</p>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Card Name</mat-label>
        <textarea matInput placeholder="Ex. Chong Oh"></textarea>
      </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Card Type</mat-label>
      <textarea matInput placeholder="Ex. Executive"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Card Value</mat-label>
        <textarea matInput placeholder="Ex. 10"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Card Points</mat-label>
        <textarea matInput placeholder="Ex. 100"></textarea>
      </mat-form-field>
  </form>

  <button mat-button routerLink="/card-list" routerLinkActive="active" (click)="createCard()">Create New Card</button>